<div class="container">
    <div>
    <h2>Ajouter une voiture :</h2>
    </div>
    <form >
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >ID voiture</label>
        <input type="text" [(ngModel)]="newcar.idvoiture"
        name="idvoiture" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4" >
        <label >Nom voiture</label>
        <input type="text"[(ngModel)]= "newcar.nomvoiture"
        name="nomvoiture" class="form-control">
        </div>
        <div class="col-sm-2 col-md-2 col-lg-2">
        <label >Prix voiture</label>
        <input type="number" [(ngModel)]= "newcar.prixvoiture"
        name="prixvoiture" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
        <label >Date création</label>
        <input type="date" [(ngModel)]= "newcar.dateCreation"
        name="dateCreation" class="form-control">
        </div>
        <div class="col-sm-4 col-md-4 col-lg-4">
            <label>Categorie</label>
            <select class="form-control form-control-lg" id="idCat" name="idCat"
            [(ngModel)]="newIdBrand">
             <option *ngFor="let bra of brand" [value]="bra.idBrand" >
             {{bra.nomBrand}}
            </option>
            </select>
            </div>
        <div class="mt-2">
        <button type="submit" (click)="addcar()"class="btn btn-success">Ajouter</button>
        </div>
        </form>
        
        </div>